body{

	overflow-x:hidden;

}

.theme_bg{

	background:url(../images/theme_background.jpg) center top;

}

.logo{

	padding-top:28%;

	transition:all ease .3s;

	margin: 0 auto;

}



.ui-footer {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

    border-bottom-width: 0;

    border-left-width: 0;

    border-right-width: 0;

    border-top: medium none !important;

}

.owl-demo .item{

	width:70px;

	height:70px;

	display:table-cell;

	background-image:url('../images/icon_bg.png');

	background-repeat:no-repeat;

	background-size:100% 100%;

	vertical-align:middle;

	text-align:center;

}

.ui-header{

	background:url(../images/header_bg.png) !important;

	border:none !important;

	

}

.ui-header .ui-title, .ui-footer .ui-title{

	text-shadow:none !important;

	color:#fff !important;

	font-size:24px;

	font-weight:normal;

	margin:0 2%;

}

.ui-icon-customrefresh:after {

	background-image: url("../images/refresh_icon.png");

	

}

.ui-icon-customrefresh:after{

	background-color:none;

	border:none;

	border-radius:none;

	height:42px;

	width:42px;

}

.ui-header .ui-btn-icon-notext{

	margin-top:11px;

}

.refresh_link,.help_link{

	border:none !important;

	background:none !important;

}

.refresh_link:hover,.refresh_link:active,.refresh_link:focus,.help_link:focus,.help_link:hover,.help_link:active{

	box-shadow:none !important;

}





.app_feature_list a{

	color:#fff !important;

	text-decoration:none;

	cursor:pointer !important;

}

.app_feature_list a label{

	cursor:pointer !important;

}

.app_feature_list a.item  img{

	max-height:32px;

	max-width:32px;

}

/* EDIT BY AMITOJ 18-Feb */



.theme_bg
{
	background-image:none;
	background-repeat:no-repeat;
	background-size:cover;	
	background: linear-gradient(left , rgb(247, 114, 108) , rgb(0, 0, 0) 1% , rgb(97, 242, 63) 1% , rgb(102, 110, 191) 3% , rgb(234, 236, 175) 6% , rgb(173, 46, 220) 7% , rgb(49, 11, 100) 10% , rgb(238, 101, 134) 11% , rgb(245, 250, 190) 13% , rgb(7, 72, 223) 14% , rgb(219, 137, 175) 16% , rgb(199, 173, 144) 18% , rgb(163, 92, 168) 19% , rgb(225, 4, 188) 20% , rgb(210, 216, 116) 21% , rgb(133, 200, 91) 25% , rgb(71, 37, 63) 30% , rgb(72, 58, 49) 32% , rgb(83, 173, 212) 33% , rgb(6, 84, 80) 34% , rgb(215, 71, 96) 35% , rgb(97, 58, 99) 42% , rgb(127, 210, 137) 47% , rgb(37, 164, 233) 49% , rgb(83, 74, 193) 52% , rgb(5, 127, 35) 54% , rgb(227, 219, 233) 55% , rgb(60, 117, 157) 56% , rgb(199, 62, 17) 57% , rgb(127, 94, 103) 59% , rgb(81, 46, 168) 68% , rgb(198, 45, 157) 70% , rgb(90, 98, 29) 72% , rgb(164, 234, 100) 75% , rgb(92, 37, 157) 77% , rgb(0, 0, 0) 80% , rgb(146, 115, 63) 86% , rgb(2, 87, 179) 88% , rgb(226, 174, 15) 90%);
background: -o-linear-gradient(left , rgb(247, 114, 108) , rgb(0, 0, 0) 1% , rgb(97, 242, 63) 1% , rgb(102, 110, 191) 3% , rgb(234, 236, 175) 6% , rgb(173, 46, 220) 7% , rgb(49, 11, 100) 10% , rgb(238, 101, 134) 11% , rgb(245, 250, 190) 13% , rgb(7, 72, 223) 14% , rgb(219, 137, 175) 16% , rgb(199, 173, 144) 18% , rgb(163, 92, 168) 19% , rgb(225, 4, 188) 20% , rgb(210, 216, 116) 21% , rgb(133, 200, 91) 25% , rgb(71, 37, 63) 30% , rgb(72, 58, 49) 32% , rgb(83, 173, 212) 33% , rgb(6, 84, 80) 34% , rgb(215, 71, 96) 35% , rgb(97, 58, 99) 42% , rgb(127, 210, 137) 47% , rgb(37, 164, 233) 49% , rgb(83, 74, 193) 52% , rgb(5, 127, 35) 54% , rgb(227, 219, 233) 55% , rgb(60, 117, 157) 56% , rgb(199, 62, 17) 57% , rgb(127, 94, 103) 59% , rgb(81, 46, 168) 68% , rgb(198, 45, 157) 70% , rgb(90, 98, 29) 72% , rgb(164, 234, 100) 75% , rgb(92, 37, 157) 77% , rgb(0, 0, 0) 80% , rgb(146, 115, 63) 86% , rgb(2, 87, 179) 88% , rgb(226, 174, 15) 90%);
background: -ms-linear-gradient(left , rgb(247, 114, 108) , rgb(0, 0, 0) 1% , rgb(97, 242, 63) 1% , rgb(102, 110, 191) 3% , rgb(234, 236, 175) 6% , rgb(173, 46, 220) 7% , rgb(49, 11, 100) 10% , rgb(238, 101, 134) 11% , rgb(245, 250, 190) 13% , rgb(7, 72, 223) 14% , rgb(219, 137, 175) 16% , rgb(199, 173, 144) 18% , rgb(163, 92, 168) 19% , rgb(225, 4, 188) 20% , rgb(210, 216, 116) 21% , rgb(133, 200, 91) 25% , rgb(71, 37, 63) 30% , rgb(72, 58, 49) 32% , rgb(83, 173, 212) 33% , rgb(6, 84, 80) 34% , rgb(215, 71, 96) 35% , rgb(97, 58, 99) 42% , rgb(127, 210, 137) 47% , rgb(37, 164, 233) 49% , rgb(83, 74, 193) 52% , rgb(5, 127, 35) 54% , rgb(227, 219, 233) 55% , rgb(60, 117, 157) 56% , rgb(199, 62, 17) 57% , rgb(127, 94, 103) 59% , rgb(81, 46, 168) 68% , rgb(198, 45, 157) 70% , rgb(90, 98, 29) 72% , rgb(164, 234, 100) 75% , rgb(92, 37, 157) 77% , rgb(0, 0, 0) 80% , rgb(146, 115, 63) 86% , rgb(2, 87, 179) 88% , rgb(226, 174, 15) 90%);
background: -moz-linear-gradient(left , rgb(247, 114, 108) , rgb(0, 0, 0) 1% , rgb(97, 242, 63) 1% , rgb(102, 110, 191) 3% , rgb(234, 236, 175) 6% , rgb(173, 46, 220) 7% , rgb(49, 11, 100) 10% , rgb(238, 101, 134) 11% , rgb(245, 250, 190) 13% , rgb(7, 72, 223) 14% , rgb(219, 137, 175) 16% , rgb(199, 173, 144) 18% , rgb(163, 92, 168) 19% , rgb(225, 4, 188) 20% , rgb(210, 216, 116) 21% , rgb(133, 200, 91) 25% , rgb(71, 37, 63) 30% , rgb(72, 58, 49) 32% , rgb(83, 173, 212) 33% , rgb(6, 84, 80) 34% , rgb(215, 71, 96) 35% , rgb(97, 58, 99) 42% , rgb(127, 210, 137) 47% , rgb(37, 164, 233) 49% , rgb(83, 74, 193) 52% , rgb(5, 127, 35) 54% , rgb(227, 219, 233) 55% , rgb(60, 117, 157) 56% , rgb(199, 62, 17) 57% , rgb(127, 94, 103) 59% , rgb(81, 46, 168) 68% , rgb(198, 45, 157) 70% , rgb(90, 98, 29) 72% , rgb(164, 234, 100) 75% , rgb(92, 37, 157) 77% , rgb(0, 0, 0) 80% , rgb(146, 115, 63) 86% , rgb(2, 87, 179) 88% , rgb(226, 174, 15) 90%);
background: -webkit-linear-gradient(left , rgb(247, 114, 108) , rgb(0, 0, 0) 1% , rgb(97, 242, 63) 1% , rgb(102, 110, 191) 3% , rgb(234, 236, 175) 6% , rgb(173, 46, 220) 7% , rgb(49, 11, 100) 10% , rgb(238, 101, 134) 11% , rgb(245, 250, 190) 13% , rgb(7, 72, 223) 14% , rgb(219, 137, 175) 16% , rgb(199, 173, 144) 18% , rgb(163, 92, 168) 19% , rgb(225, 4, 188) 20% , rgb(210, 216, 116) 21% , rgb(133, 200, 91) 25% , rgb(71, 37, 63) 30% , rgb(72, 58, 49) 32% , rgb(83, 173, 212) 33% , rgb(6, 84, 80) 34% , rgb(215, 71, 96) 35% , rgb(97, 58, 99) 42% , rgb(127, 210, 137) 47% , rgb(37, 164, 233) 49% , rgb(83, 74, 193) 52% , rgb(5, 127, 35) 54% , rgb(227, 219, 233) 55% , rgb(60, 117, 157) 56% , rgb(199, 62, 17) 57% , rgb(127, 94, 103) 59% , rgb(81, 46, 168) 68% , rgb(198, 45, 157) 70% , rgb(90, 98, 29) 72% , rgb(164, 234, 100) 75% , rgb(92, 37, 157) 77% , rgb(0, 0, 0) 80% , rgb(146, 115, 63) 86% , rgb(2, 87, 179) 88% , rgb(226, 174, 15) 90%);
}







