body{

	overflow-x:hidden;

}

.theme_bg{

	background:url(../images/theme_background.jpg) center top;

}

.logo{

	padding-top:28%;

	transition:all ease .3s;

	margin: 0 auto;

}



.ui-footer {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

    border-bottom-width: 0;

    border-left-width: 0;

    border-right-width: 0;

    border-top: medium none !important;

}

.owl-demo .item{

	width:70px;

	height:70px;

	display:table-cell;

	background-image:url('../images/icon_bg.png');

	background-repeat:no-repeat;

	background-size:100% 100%;

	vertical-align:middle;

	text-align:center;

}

.ui-header{

	background:url(../images/header_bg.png) !important;

	border:none !important;

	

}

.ui-header .ui-title, .ui-footer .ui-title{

	text-shadow:none !important;

	color:#fff !important;

	font-size:24px;

	font-weight:normal;

	margin:0 2%;

}

.ui-icon-customrefresh:after {

	background-image: url("../images/refresh_icon.png");

	

}

.ui-icon-customrefresh:after{

	background-color:none;

	border:none;

	border-radius:none;

	height:42px;

	width:42px;

}

.ui-header .ui-btn-icon-notext{

	margin-top:11px;

}

.refresh_link,.help_link{

	border:none !important;

	background:none !important;

}

.refresh_link:hover,.refresh_link:active,.refresh_link:focus,.help_link:focus,.help_link:hover,.help_link:active{

	box-shadow:none !important;

}





.app_feature_list a{

	color:#fff !important;

	text-decoration:none;

	cursor:pointer !important;

}

.app_feature_list a label{

	cursor:pointer !important;

}

.app_feature_list a.item  img{

	max-height:32px;

	max-width:32px;

}

/* EDIT BY AMITOJ 18-Feb */



.theme_bg
{
	background-image:none;
	background-repeat:no-repeat;
	background-size:cover;	
	background: radial-gradient(left bottom , ellipse cover , rgb(0, 0, 0) 1% , rgb(204, 35, 79) 1% , rgb(151, 250, 191) 4% , rgb(81, 62, 33) 7% , rgb(87, 132, 171) 9% , rgb(79, 99, 134) 10% , rgb(230, 73, 250) 13% , rgb(97, 165, 197) 15% , rgb(37, 145, 148) 20% , rgb(45, 42, 7) 30% , rgb(201, 241, 246) 33% , rgb(45, 11, 130) 36% , rgb(9, 25, 131) 42% , rgb(27, 231, 185) 43% , rgb(140, 80, 146) 46% , rgb(65, 146, 11) 63% , rgb(195, 177, 18) 67% , rgb(48, 113, 139) 68% , rgb(0, 0, 0) 80% , rgb(207, 140, 120) 84% , rgb(222, 146, 36) 85% , rgb(136, 145, 194) 86% , rgb(224, 160, 186) 92% , rgb(205, 64, 230) 93% , rgb(124, 239, 137) 96% , rgb(9, 25, 152) 98%);
background: -o-radial-gradient(left bottom , ellipse cover , rgb(0, 0, 0) 1% , rgb(204, 35, 79) 1% , rgb(151, 250, 191) 4% , rgb(81, 62, 33) 7% , rgb(87, 132, 171) 9% , rgb(79, 99, 134) 10% , rgb(230, 73, 250) 13% , rgb(97, 165, 197) 15% , rgb(37, 145, 148) 20% , rgb(45, 42, 7) 30% , rgb(201, 241, 246) 33% , rgb(45, 11, 130) 36% , rgb(9, 25, 131) 42% , rgb(27, 231, 185) 43% , rgb(140, 80, 146) 46% , rgb(65, 146, 11) 63% , rgb(195, 177, 18) 67% , rgb(48, 113, 139) 68% , rgb(0, 0, 0) 80% , rgb(207, 140, 120) 84% , rgb(222, 146, 36) 85% , rgb(136, 145, 194) 86% , rgb(224, 160, 186) 92% , rgb(205, 64, 230) 93% , rgb(124, 239, 137) 96% , rgb(9, 25, 152) 98%);
background: -ms-radial-gradient(left bottom , ellipse cover , rgb(0, 0, 0) 1% , rgb(204, 35, 79) 1% , rgb(151, 250, 191) 4% , rgb(81, 62, 33) 7% , rgb(87, 132, 171) 9% , rgb(79, 99, 134) 10% , rgb(230, 73, 250) 13% , rgb(97, 165, 197) 15% , rgb(37, 145, 148) 20% , rgb(45, 42, 7) 30% , rgb(201, 241, 246) 33% , rgb(45, 11, 130) 36% , rgb(9, 25, 131) 42% , rgb(27, 231, 185) 43% , rgb(140, 80, 146) 46% , rgb(65, 146, 11) 63% , rgb(195, 177, 18) 67% , rgb(48, 113, 139) 68% , rgb(0, 0, 0) 80% , rgb(207, 140, 120) 84% , rgb(222, 146, 36) 85% , rgb(136, 145, 194) 86% , rgb(224, 160, 186) 92% , rgb(205, 64, 230) 93% , rgb(124, 239, 137) 96% , rgb(9, 25, 152) 98%);
background: -moz-radial-gradient(left bottom , ellipse cover , rgb(0, 0, 0) 1% , rgb(204, 35, 79) 1% , rgb(151, 250, 191) 4% , rgb(81, 62, 33) 7% , rgb(87, 132, 171) 9% , rgb(79, 99, 134) 10% , rgb(230, 73, 250) 13% , rgb(97, 165, 197) 15% , rgb(37, 145, 148) 20% , rgb(45, 42, 7) 30% , rgb(201, 241, 246) 33% , rgb(45, 11, 130) 36% , rgb(9, 25, 131) 42% , rgb(27, 231, 185) 43% , rgb(140, 80, 146) 46% , rgb(65, 146, 11) 63% , rgb(195, 177, 18) 67% , rgb(48, 113, 139) 68% , rgb(0, 0, 0) 80% , rgb(207, 140, 120) 84% , rgb(222, 146, 36) 85% , rgb(136, 145, 194) 86% , rgb(224, 160, 186) 92% , rgb(205, 64, 230) 93% , rgb(124, 239, 137) 96% , rgb(9, 25, 152) 98%);
background: -webkit-radial-gradient(left bottom , ellipse cover , rgb(0, 0, 0) 1% , rgb(204, 35, 79) 1% , rgb(151, 250, 191) 4% , rgb(81, 62, 33) 7% , rgb(87, 132, 171) 9% , rgb(79, 99, 134) 10% , rgb(230, 73, 250) 13% , rgb(97, 165, 197) 15% , rgb(37, 145, 148) 20% , rgb(45, 42, 7) 30% , rgb(201, 241, 246) 33% , rgb(45, 11, 130) 36% , rgb(9, 25, 131) 42% , rgb(27, 231, 185) 43% , rgb(140, 80, 146) 46% , rgb(65, 146, 11) 63% , rgb(195, 177, 18) 67% , rgb(48, 113, 139) 68% , rgb(0, 0, 0) 80% , rgb(207, 140, 120) 84% , rgb(222, 146, 36) 85% , rgb(136, 145, 194) 86% , rgb(224, 160, 186) 92% , rgb(205, 64, 230) 93% , rgb(124, 239, 137) 96% , rgb(9, 25, 152) 98%);
}







